    p {
            color: green;
            width: 150px;
            font-family: sans-serif;
            font-weight: bold;
            border: 1px solid red;
            padding:10px 20px;
        }